*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background-image: url(paper.jpg);
    background-size: cover;
    background-position: center ;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.countdown-container{
    display: flex;
}
h1{
    font-size: 4rem;
    margin-top: 5rem;
}
.big-text{
 font-size: 6rem;
 line-height: 1;
 margin:0 2rem;
}
.countdown-el{
    text-align:center;
}
.countdown-el span{
    font-size:1.5rem;
}